--- 
layout: default
title: Blog
---

<div class="section">
  <div class="blog__background">
    <div class="container blog-wrap">
      
      <div id="blog-intro">
        <div id="w-node-f2c6de040bbf-6186f144">
          <h1 class="heading-jumbo">Blog</h1>
        </div>
        <div id="w-node-f2c6de040bc4-6186f144">
          <div>My thoughts on topics I like, links to elsewhere on the Internet I enjoy, and some of my projects!</div>
        </div>
      </div>

      <div id="blog__posts">
          {% for post in site.posts %}
            <div id="post__link_card" >
              <!-- <img style="float: left; width:70%" src="https://picsum.photos/seed/{{ post.title }}/200/200"> -->
              <div id="post__title_image" 
                   style="background-image:  {% if post.image_url %} url({{ post.image_url}}) {% else %} url('https://picsum.photos/seed/{{ post.title }}/2000/400') {% endif %};" ></div>
              <div style="padding-left: 30px;">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <div id="post__date_author">{{ post.date | date_to_string }}</div>
                {{ post.excerpt | truncate: 200 }}
              </div>
            </div>
          {% endfor %}
      </div>

    </div>
  </div>
</div>
