<div class="footer-wrap">
  <div><strong>Steve </strong>Pisani</div>
  <div class="footer-links">
    <a href="mailto:steve@stevenpisani.com" class="footer-item">Email</a>
    <a href="https://www.linkedin.com/in/steven-pisani/" target="_blank" rel="noopener" class="footer-item">LinkedIn</a>
    <a href="https://github.com/stevepisani" target="_blank" rel="noopener" class="footer-item">GitHub</a>
    <a href="https://twitter.com/StevenPisani" target="_blank" rel="noopener" class="footer-item">Twitter</a>
  </div>
</div>
