<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
  <div class="div-block-6">
    <div class="navigation-items">
      <div class="div-block">
        <a href="/" class="logo-link w-nav-brand"><img src="/assets/images/SJ-P2-1.png" width="104" alt="" class="logo-image"></a>
      </div>
      <div class="navigation-wrap">
        <div class="text-block-2"><strong>Steve </strong>Pisani</div>
        <nav role="navigation" class="navigation-items w-nav-menu">
          <div>
            <a href="/" class="navigation-item w-nav-link  {% if page.url == '/' %} w--current {% endif %}">Home</a>
            <a href="/blog" aria-current="page" class="navigation-item w-nav-link {% if page.url == '/blog.html' %} w--current {% endif %}">Blog</a>
          </div>
          <div>
            <a href="/about" class="navigation-item w-nav-link  {% if page.url == '/about.html' %} w--current {% endif %}">About</a>
            <a href="/assets/files/Steven Pisani Resume.pdf" target="_blank" class="navigation-item file-download-link w-nav-link">Resume</a>
          </div>
        </nav>
        <div class="menu-button w-nav-button"><img src="/assets/images/menu-icon_1menu-icon.png" width="22" alt="" class="menu-icon"></div>
      </div>
    </div>
  </div>
</div>
